## Introducing lists
A list is a collection od items in a particular order.

In [1]:
# How to create a list
foods = ["Chips","Burger","Chicken wings","Salad"]
print(foods)

['Chips', 'Burger', 'Chicken wings', 'Salad']

In [4]:
# Different types of lists
numbers = [1,3,45,67,78]
floats = [1.2,3.4,5.6,7.8]
bools = [True, False, True, False]
print(numbers)
print(floats)
print(bools)

[1, 3, 45, 67, 78]
[1.2, 3.4, 5.6, 7.8]
[True, False, True, False]

In [5]:
# create a lists of list
lists = [[1,2],[3,4],[5,6],[7,8]]
print(lists)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [6]:
# createa lists with multiple data types
multiList = ["Anne", 25, "Data Science", True]
print(multiList)

['Anne', 25, 'Data Science', True]

In [7]:
type(foods)

list

In [9]:
type(multiList)

list

### The list() constructor

In [10]:
# List constructor 
listnew = list(("NZ", 25, True))
print(listnew)

['NZ', 25, True]

In [27]:
# len() function to check the length of the list
print(len(listnew))

3

### range() to create list

In [28]:
listRange1 = list(range(20))
print(listRange1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
listRange2 = list(range(10,20))
print(listRange2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
listRange3 = list(range(20,40,2))
print(listRange3)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [33]:
# range() function can only work when the specified value is an integer or a whole number.
listRange4 = list(range(0.5,2.5))
print(listRange4)

TypeError: 'float' object cannot be interpreted as an integer

## Access list items
list items are indexed, you can access the lsts items by refererring the index numbers. 
Index is starts with 0

In [11]:
cities = ['Hamiltion','Auckland', 'Napier']
print(cities[1])

Auckland

In [12]:
# use minus index numbers to access from the end 
print(cities[-1])

Napier

In [22]:
# range of values
print(cities[0:3])
print(cities[:])
print(cities[0:2])
print(cities[0:])
print(cities[:3])
print(cities[-2:-1])
print(cities[-3:-1])

['Hamiltion', 'Auckland', 'Napier']
['Hamiltion', 'Auckland', 'Napier']
['Hamiltion', 'Auckland']
['Hamiltion', 'Auckland', 'Napier']
['Hamiltion', 'Auckland', 'Napier']
['Auckland']
['Hamiltion', 'Auckland']

In [23]:
# Accessing the elements of the lists via if clause
if "Auckland" in cities:
    print("yes 'Auckland' is in the list")

yes 'Auckland' is in the list

In [26]:
# Using items in the lists individually
foods = ["chips","burger","chicken wings","salad"]
msg = "My favourite foos is "+ foods[-1].title()

print(msg)

My favourite foos is Salad

## Change list items

In [40]:
cities = ["Hamilton","Auckland","Wellington"]
print(cities)
cities[0] = "Queenstown"
print(cities)

['Hamilton', 'Auckland', 'Wellington']
['Queenstown', 'Auckland', 'Wellington']

In [41]:
# change the second and third items of the list
cities[1:3] = ["Napier","Dunedin"]
print(cities)

['Queenstown', 'Napier', 'Dunedin']

In [42]:
# change the second item on the list with two values
cities[1:2] = ["Hamilton","Christchurch"]
print(cities)

['Queenstown', 'Hamilton', 'Christchurch', 'Dunedin']

In [43]:
# change the second and third items with one value
cities[1:3] = ["Milfordsound"]
print(cities)

['Queenstown', 'Milfordsound', 'Dunedin']

## Add elements

In [45]:
# add the items with append() method
cities = ["Auckland","Hamilton","wellington"]
cities.append("Napier")
print(cities)

['Auckland', 'Hamilton', 'wellington', 'Napier']

In [46]:
# use insert method to add an item without replacing the items in the list
cities.insert(2,"Arrowtown") 
print(cities)

['Auckland', 'Hamilton', 'Arrowtown', 'wellington', 'Napier']

In [48]:
# extend() method can be use to append teh elements of one list to another
citiesNorth = ["Auckland","Hamilton","Wellington"]
citiesSouth = ["Christchurch", "MilfordSound","Queesnstown"]
citiesNorth.extend(citiesSouth)
print(citiesNorth)

['Auckland', 'Hamilton', 'Wellington', 'Christchurch', 'MilfordSound', 'Queesnstown']

In [49]:
# add any iterable such as tuples, sets or dictionaries
citiesNorth = ["Auckland","Hamilton","Wellington"]
citiesTuple = ("Napier","Taranaki")
citiesNorth.extend(citiesTuple)
print(citiesNorth)

['Auckland', 'Hamilton', 'Wellington', 'Napier', 'Taranaki']

## Remove list items

In [50]:
cities = ["Auckland","Hamilton","Wellington"]
cities.remove("Hamilton")
print(cities)

['Auckland', 'Wellington']

In [51]:
# use pop() method for removing the last item of the list
cities = ["Auckland","Hamilton","Wellington"]
cities.pop()
print(cities)

['Auckland', 'Hamilton']

In [52]:
# use pop() method for remove a specified index
cities = ["Auckland","Hamilton","Wellington"]
cities.pop(1)
print(cities)

['Auckland', 'Wellington']

In [53]:
# use del keyword for remove a specified index
cities = ["Auckland","Hamilton","Wellington"]
del cities[1]
print(cities)

['Auckland', 'Wellington']

In [55]:
# use del keyword to delete the entire list completely
cities = ["Auckland","Hamilton","Wellington"]
del cities

In [56]:
# use clear() method to empty the list
cities = ["Auckland","Hamilton","Wellington"]
cities.clear()
print(cities)

[]

## Loop through a list

In [57]:
# use for loop to walk through a list
cities = ["Auckland","Hamilton","Wellington"]
for c in cities:
    print(c)

Auckland
Hamilton
Wellington

In [58]:
# loop through the index numbers
cities = ["Auckland","Hamilton","Wellington"]
for i in range(len(cities)):
    print(cities[i])

Auckland
Hamilton
Wellington

In [1]:
# use while loop to iterate
cities = ["Auckland","Hamilton","Wellington"]
i = 0
while i < len(cities):
    print(cities[i])
    i = i+1

Auckland
Hamilton
Wellington

## List Comprehension
list comprehensions offers shorter syntax

In [8]:
cities = ["Auckland", "Hamilton","Wellington"]
newcities = [i for i in cities]
print(cities)
print(newcities)

['Auckland', 'Hamilton', 'Wellington']
['Auckland', 'Hamilton', 'Wellington']

In [4]:
# use list comprehension for create a new list using an existing one
# the following code create a new list using an existing list through a for loop
cities = ["Auckland", "Hamilton","Wellington"]
newcities = []

for i in cities:
    if "o" in i:
        newcities.append(i)

print(newcities)

['Hamilton', 'Wellington']

In [6]:
# we can use list comprehension to perform the above task
# newlist = [expression for item in iterable if condition == True]

cities = ["Auckland", "Hamilton","Wellington"]
newcities = [i for i in cities if "o" in i]
print(newcities)

['Hamilton', 'Wellington']

In [9]:
cities = ["Auckland", "Hamilton","Wellington"]
newcities = [i for i in cities if i != "Auckland"]
print(cities)
print(newcities)

['Auckland', 'Hamilton', 'Wellington']
['Hamilton', 'Wellington']

In [16]:
cities = ["Auckland", "Hamilton","Wellington"]
capcities = [i.upper() for i in cities]
print(capcities)

['AUCKLAND', 'HAMILTON', 'WELLINGTON']

In [17]:
cities = ["Auckland", "Hamilton","Wellington"]
greetings = ['hi' for i in cities]
print(greetings)

['hi', 'hi', 'hi']

In [10]:
# with numerical lists
numbers = list(range(21))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
numbers2 = [i for i in range(21)]
print(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
# create a list with even numbers
numbers3 = [i for i in range(21) if i % 2 == 0]
print(numbers3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
squarevalues = [val**2 for val in range(21)]
print(squarevalues)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Sort list

In [19]:
# sort() to ort the list
fruits = ['apple','orange','papaya','banana']
print(fruits)
fruits.sort()
print(fruits)

['apple', 'orange', 'papaya', 'banana']
['apple', 'banana', 'orange', 'papaya']

In [20]:
# sort reverse using reverse argument (alphabaticaly reversed)
fruits = ['apple','orange','papaya','banana']
print(fruits)
fruits.sort(reverse=True)
print(fruits)

['apple', 'orange', 'papaya', 'banana']
['papaya', 'orange', 'banana', 'apple']

In [22]:
# sort() is case sensitive, first sort the capital and then simple
fruits = ['apple','Orange','Papaya','banana']
fruits.sort()
print(fruits)

['Orange', 'Papaya', 'apple', 'banana']

In [23]:
# if we want to make the sort() case-insensitive
fruits = ['apple','Orange','Papaya','banana']
fruits.sort(key = str.lower)
print(fruits)

['apple', 'banana', 'Orange', 'Papaya']

In [29]:
# use sorted method to preserve the original order of teh list 
fruits = ['apple','orange','papaya','banana']
print(fruits)
print(sorted(fruits))
print(fruits)
# but if we use sort()
fruits.sort()
print(fruits)

['apple', 'orange', 'papaya', 'banana']
['apple', 'banana', 'orange', 'papaya']
['apple', 'orange', 'papaya', 'banana']
['apple', 'banana', 'orange', 'papaya']

In [25]:
# sorting numerical list
no1 = [5,7,12,9,4,3]
no1.sort()
print(no1)

[3, 4, 5, 7, 9, 12]

In [26]:
no1 = [5,7,12,9,4,3]
no1.sort(reverse = True)
print(no1)

[12, 9, 7, 5, 4, 3]

In [30]:
# use reverse() to print the reverse ordered list (reversed by index)
fruits = ['apple','orange','papaya','banana']
fruits.reverse()
print(fruits)

['banana', 'papaya', 'orange', 'apple']

### Copy a list
we can not use list1 = list2 in here, bcz the will refer the same list. so we can use copy() or list[:] method

In [33]:
# use copy method
fruits1 = ['apple','orange','papaya','banana']
fruits2 = fruits1.copy()
print(fruits1)
print(fruits2)
# can cahnge these two liksts to see whether they refer te same or not
fruits1.append('kiwi')
print(fruits1)
fruits2.append('Pineapple')
print(fruits2)

['apple', 'orange', 'papaya', 'banana']
['apple', 'orange', 'papaya', 'banana']
['apple', 'orange', 'papaya', 'banana', 'kiwi']
['apple', 'orange', 'papaya', 'banana', 'Pineapple']

In [35]:
# use list[:]

cities1 = ["Auckland","Hamilton"]
cities2 = cities1[:]
print(cities1)
print(cities2)

['Auckland', 'Hamilton']
['Auckland', 'Hamilton']

In [36]:
# us ethe list()
cities1 = ["Auckland","Hamilton"]
cities2 = list(cities1)
print(cities1)
print(cities2)

['Auckland', 'Hamilton']
['Auckland', 'Hamilton']

## Join lists

In [37]:
# use "+" to concatenate the lists
foods1 = ["burger","chips"]
foods2 = ["kebab","salad"]

print(foods1+ foods2)

['burger', 'chips', 'kebab', 'salad']

In [38]:
# use append() 

foods1 = ["burger","chips"]
foods2 = ["kebab","salad"]

for i in foods2:
    foods1.append(i)

print(foods1)

['burger', 'chips', 'kebab', 'salad']

In [40]:
# use extend to concatenate the lists

foods1 = ["burger","chips"]
foods2 = ["kebab","salad"]

foods1.extend(foods2)
print(foods1)

['burger', 'chips', 'kebab', 'salad']

In [ ]:
## List methods

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

### Python Arrays
Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.
Arrays are used to store multiple values in one single variable.

In [41]:
#  Create an array with food names
fruits = ["Apple","Pineapple","Banana","Papaya"]

In [42]:
# Access the array6 elements 
fruits[1]

'Pineapple'

In [43]:
# Modify the array values
fruits[1] = "Kiwi"

In [44]:
fruits

['Apple', 'Kiwi', 'Banana', 'Papaya']

In [45]:
# length of an array
len(fruits)

4

In [46]:
# Looping array element
for i in fruits:
    print(i)

Apple
Kiwi
Banana
Papaya

In [47]:
# Adding array elements
fruits.append("Orange")
fruits

['Apple', 'Kiwi', 'Banana', 'Papaya', 'Orange']

In [48]:
# Remove array elements by pop()
fruits.pop(1)
fruits

['Apple', 'Banana', 'Papaya', 'Orange']

In [49]:
# Use remove()
fruits.remove("Apple")
fruits

['Banana', 'Papaya', 'Orange']

In [50]:
# Use copy()
fruitsnew = fruits.copy()
fruitsnew

['Banana', 'Papaya', 'Orange']

In [51]:
# Use count()
fruits =["Apple","Banana","Apple","Orange"]
fruits.count("Apple")

2

In [55]:
# extend()
fruits = ["Apple","banana"]
more_fruits = ["Kiwi","Blueberry"]
fruits.extend(more_fruits)
fruits

['Apple', 'banana', 'Kiwi', 'Blueberry']

In [56]:
# index()
fruits.index("Apple")

0

In [57]:
# Use insert()
fruits.insert(2,"Orange")
fruits

['Apple', 'banana', 'Orange', 'Kiwi', 'Blueberry']

In [61]:
# Use reverse()
fruits.reverse()
fruits

['Blueberry', 'Kiwi', 'Orange', 'banana', 'Apple']

In [62]:
# Use sort()
fruits.sort()
fruits

['Apple', 'Blueberry', 'Kiwi', 'Orange', 'banana']