In [1]:
## creating variables
a = 10
b = "Anne"
print(a)
print(b)

10
Anne

In [2]:
# No need for declare a variable with a type, can even change the type of a variable after declaration
a = "25"
a = "Anne"
print(a)

Anne

### Casting

In [3]:
a = str(10)
b = int(10)
c = float(10)
print(a)
print(b)
print(c)

10
10
10.0

### Get the type()

In [4]:
a = str(10)
b = int(10)
c = float(10)
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# can use single or double quotes
a = "Anne"
b = 'Data'
print(a)
print(b)

Anne
Data

In [6]:
## variable names are case-sensitive
a = 10
A = "Anne"
print(a)
print(A)

10
Anne

In [ ]:
# Naming conventions in Python
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords.


# Multi Words Variable Names
# Camel Case
# Each word, except the first, starts with a capital letter
# Pascal Case
# Each word starts with a capital letter
# Snake Case
# Each word is separated by an underscore character

In [7]:
# Camel Case
# Each word, except the first, starts with a capital letter
myDreamVehicle = "Puegeuot"

In [8]:
# Pascal Case
# Each word starts with a capital letter
MyDreamVehicle = "BMW"

In [9]:
# Snake Case
# Each word is separated by an underscore character
my_dream_vehicle = "BMW"

In [10]:
## Assign Multiple Values
x,y,z = "Auckland","Hamilton","Wellington"
print(x)
print(y)
print(z)

Auckland
Hamilton
Wellington

In [11]:
## One value to multiple variables
x =y =z = "Hamilton"
print(x)
print(y)
print(z)

Hamilton
Hamilton
Hamilton

In [12]:
# unpacking collection of values , such as list, tuples, sets or dictionaries
cities = ["Auckland","Hamilton","Wellington"]
x,y,z = cities
print(x)
print(y)
print(z)

Auckland
Hamilton
Wellington

In [13]:
cities = ("Auckland","Hamilton","Wellington")
x,y,z = cities
print(x)
print(y)
print(z)

Auckland
Hamilton
Wellington

In [14]:
cities = {"Auckland","Hamilton","Wellington"}
x,y,z = cities
print(x)
print(y)
print(z)

Wellington
Auckland
Hamilton

In [15]:
cities = {
    "city1":"Auckland",
    "city2":"Hamilton",
    "city3":"Wellington"
}
x,y,z = cities
print(x)
print(y)
print(z)

city1
city2
city3

In [16]:
# Output variable
# The Python print() function is often used to output variables.
x = "Python Language!"
print(x)

Python Language!

In [17]:
x = "Python"
y = "C"
z = "Java"
print("I Love - " + x,y,z)

I Love - Python C Java

In [18]:
# You can also use the + operator to output multiple variables
x = "Python"
y = "C"
z = "Java"
print("I Love - " + x + y+z)

I Love - PythonCJava

In [19]:
# For numbers + operator works as mathematical operation
x = 10
y = 20
print(x+y)

30

In [20]:
# Will generate an error
x = 10
y = "Anne"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
x = 10
y = "Anne"
print(x,y)

10 Anne


## Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [22]:
x = "Anne"

def name_func():
    print("My name is " + x)
    
name_func()

My name is Anne

In [23]:
# create a variable with same global variable and see the behaviour

x = "Anne"

def user_name():
    x = "User"
    print("The user is :"+ x)
    
user_name()
print("The user is :"+ x)

The user is :User
The user is :Anne

In [ ]:
# The global Keyword
# Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

# To create a global variable inside a function, you can use the global keyword.

In [24]:

def user_check():
    global x
    x = "Anne"
    
user_check()
print("The user is: "+ x)

The user is: Anne

In [25]:
# Also, use the global keyword if you want to change a global variable inside a function.

x = "Anne"
def user_check():
    global x 
    x = "User"
    
user_check()

print("The user is : "+ x)

The user is : User

## Python data types

In [ ]:
Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [26]:
# can use type() to get the data type
a = "Anne"
type(a)

str

In [ ]:
Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

In [ ]:
Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:
    
Example	Data Type	Try it
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

## Python numbers
There are three numeric types in Python:

int
float
complex

Variables of numeric types are created when you assign a value to them

In [27]:
x = 10
y = 20.2
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [28]:
# Integers
x = 10
y = 253689478956
z = -45623
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [29]:
# Float 
x = 10.0
y = 12564522.555555
z = -4523.0
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
# Scientific float numbers
x = 52e4
y = 45454e6
z = -564.85e2
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [32]:
# Complex numbers
x = 3+8j
y = 10j
z = -10j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type conversion

In [34]:
# Complex numbers cannot be converted to another data type
x = 10
y = 20.2
z = 5j

a = float(x)
b = int(y)
c = complex(x)
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'int'>
<class 'complex'>

### Random numbers
Python do not have a random() function, but can import the build-in module called random

In [37]:
import random
print(random.randrange(1,10))

7

## Python Casting
Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [38]:
# Integer
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [39]:
# Float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.6")
print(x)
print(y)
print(z)
print(w)
print(type(x))
print(type(y))
print(type(z))
print(type(w))

1.0
2.8
3.0
4.6
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [40]:
# Strings
x = str("Anne7")
y = str(5)
z = str(5.0)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

Anne7
5
5.0
<class 'str'>
<class 'str'>
<class 'str'>

## Boolean

In [41]:
print(10 > 5)
print(10 == 10)
print(10 > 20)

True
True
False

In [44]:
print(bool("Data"))
print(bool(0))

x = "Data"
y = 10

print(bool(x))
print(bool(y))

True
False
True
True

In [45]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [46]:
def myFunction() :
    return True

print(myFunction())

True

In [47]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [50]:
# Python also has many built-in functions that return a boolean value, 
# like the isinstance() function, which can be used to determine if an object is of a certain data type

x = 400
print(isinstance(x,int))
print(isinstance(x, float))

True
False

## Python Operators
Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [ ]:
# Arithmatic operators
Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [51]:
print(10 +5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10**5)
print(10//5)

15
5
50
2.0
0
100000
2

In [ ]:
# Assignment operators
Operator	Example	Same As	Try it
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

In [68]:
x = 10
y = 5
x += 3
print(x)
x -= y
print(x)
x *= y
print(x)
x /= y
print(x)
x %= y
print(x)
x //= y
print(x)
x**=y
print(x)
x = 10
x &= y
print(x)
x = 10
(x!=y)
print(x)
#(x ^= 2)
print(x)
#(x >>= 2)
print(x)
#(x <<= 2)
print(x)

13
8
40
8.0
3.0
0.0
0.0
0
10
10
10
10

In [ ]:
# Comparison operators 
Operator	Name	Example	Try it
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

In [ ]:
# Logical operators
Operator	Description
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [ ]:
# Identity Operators
# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location
Operator	Description
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y

In [ ]:
# Python Membership Operators
# Membership operators are used to test if a sequence is presented in an object:

Operator	Description
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [ ]:
# Python Bitwise Operators
# Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

In [ ]:
# Operator Precedence
Operator	Description
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR