## Sets
A set is a collection which is unordered, unchangeable*, and unindexed.
Sets are used to store multiple items in a single variable.
Set items are unordered, unchangeable, and do not allow duplicate values.

In [2]:
# Create a set
setCities = {"Auckland", "Hamilton","Wellington"}
print(setCities)

{'Hamilton', 'Wellington', 'Auckland'}

In [8]:
setno = {1,2,3,4,5}
setChar = {"a","b","c","d"}
setFloat = {1.2,2.3,3.4,4.5}
setBool = {True, False,False}

print(setno)
print(setChar)
print(setFloat)
print(setBool)

print(type(setno))
print(type(setChar))
print(type(setFloat))
print(type(setBool))

{1, 2, 3, 4, 5}
{'a', 'b', 'd', 'c'}
{1.2, 2.3, 3.4, 4.5}
{False, True}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [4]:
set1 = {"Auckland", 200000, 2.3, True}
print(set1)

{200000, True, 2.3, 'Auckland'}

In [3]:
# Duplicate values are not allowed. Duplicate values are ignored
setCities = {"Auckland", "Hamilton","Wellington","Auckland"}
print(setCities)

{'Hamilton', 'Wellington', 'Auckland'}

In [5]:
# True and 1 are consider as duplicate values. And also the False and 0
set1 = {"Auckland", 1, True, 200000, False, 0}
print(set1)

{200000, 1, False, 'Auckland'}

In [6]:
# length of a set
set1 = {"Auckland", 1, True, 200000, False, 0}
print(len(set1))

4

In [9]:
# Use set() constructor
set1 = set(("A","B","C",1.2,True))
print(set1)

{1.2, 'A', True, 'C', 'B'}

### Access items in a set
The items can not be accessed using an index or key.But through the loops

In [10]:
set1  = {"A","B",True}
for i in set1:
    print(i)

True
A
B

In [11]:
# check wheather an element is there at the set
set1 = {"Auckland", 1.2, True, 2}
print("Auckland" in set1)

True

### Add items to set
Once a set is created, you cannot change its items, but you can add new items.

In [12]:
# Use add() to add the items 
set1 = {"Auckland","Hamilton"}
set1.add("Wellington")
print(set1)

{'Hamilton', 'Wellington', 'Auckland'}

In [13]:
# Use update() for add items of one set to another
set1 = {"Auckland","Hamilton"}
set2 = {"Christchurch","Dunedin"}
set1.update(set2)
print(set1)

{'Hamilton', 'Dunedin', 'Christchurch', 'Auckland'}

In [ ]:
## Add any iterable
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [14]:
set1 = {"Auckland","Hamilton"}
tup1 =("Christchurch","Dunedin")
set1.update(tup1)
print(set1)

{'Hamilton', 'Dunedin', 'Christchurch', 'Auckland'}

In [15]:
# can not use the update method with tuples 
set1 = {"Auckland","Hamilton"}
tup1 =("Christchurch","Dunedin")
tup1.update(set1)
print(set1)

AttributeError: 'tuple' object has no attribute 'update'

In [16]:
set1 = {"Auckland","Hamilton"}
list1 =["Christchurch","Dunedin"]
set1.update(list1)
print(set1)

{'Hamilton', 'Dunedin', 'Christchurch', 'Auckland'}

In [17]:
# # can not use the update method with lists 
set1 = {"Auckland","Hamilton"}
list1 =["Christchurch","Dunedin"]
list1.update(set1)
print(list1)

AttributeError: 'list' object has no attribute 'update'

### Remove set items

In [20]:
# remove(). Note: If the item to remove does not exist, remove() will raise an error.
set1 = {1,2,3,4}
set1.remove(4)
print(set1)
set1.remove(5)
print(set1)

{1, 2, 3}

KeyError: 5

In [19]:
# discard(). Note: If the item to remove does not exist, discard() will NOT raise an error.
set1 = {1,2,3,4,5}
set1.discard(4)
print(set1)
set1.discard(7)
print(set1)

{1, 2, 3, 5}
{1, 2, 3, 5}

In [21]:
# pop() . Will remove a random value of the set
set1 = {1,2,3,4,5,6}
item1 = set1.pop()
print(set1)
print(item1)

{2, 3, 4, 5, 6}
1

In [22]:
# clear() to empty the set
set1 = {1,2,3,4,5}
set1.clear()
print(set1)

set()

In [23]:
# del keyword to delete the set
set1 = {1,2,3}
del set1

### Loop sets

In [24]:
setcities = {"Auckland","Hamilton","Wellington"}
for i in setcities:
    print(i)

Hamilton
Wellington
Auckland

### Join sets
here are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [26]:
# union()
set1 = {1,2,3}
set2 = {"A","B"}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'A', 'B'}

In [28]:
# update()
set1 = {1,2,3}
set2 = {True, False}
set1.update(set2)
print(set1)

{False, 1, 2, 3}

In [30]:
# Keep ONLY the Duplicates
# The intersection_update() method will keep only the items that are present in both sets.
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection_update(set2)
print(set1)

{2, 3}

In [32]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.intersection(set2)
print(set3)

{2, 3}

In [34]:
# Keep All, But NOT the Duplicates
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
set1 = {1,2,3}
set2 = {2,3,4}
set1.symmetric_difference_update(set2)
print(set1)

{1, 4}

In [35]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 4}

In [ ]:
# Python set methods
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others