## Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [1]:
# Assign String to a Variable
a = "Anne"
print(a)

Anne

In [2]:
# Multiline Strings
a = """ This is a tutorial
for learning Python
from basics """
print(a)

 This is a tutorial
for learning Python
from basics

In [ ]:
# Strings are Arrays
# Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

# However, Python does not have a character data type, a single character is simply a string with a length of 1.

# Square brackets can be used to access elements of the string.

In [3]:
a = "Anne"
print(a[1])

n

In [4]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

for i in "Anne":
    print(i)

A
n
n
e

In [5]:
# len()
print(len("Anne"))

4

In [6]:
# check string
a = "Python programming language"
print("Python" in a)

True

In [7]:
# Use if statement
a = "Python programming language"
if "Python" in a:
    print("yes")

yes

In [8]:
# Check not in String
a = "Python programming language"
print("Python" not in a)

False

In [10]:
# Check if not
a ="Python programming language"
if "Java" not in a:
    print("Java is not in text")

Java is not in text

## Slicing Strings

In [11]:
name = "Data Science"
print(name[0:4])

Data

In [12]:
name = "Data Science"
print(name[:4])

Data

In [13]:
name = "Data Science"
print(name[0:])

Data Science

In [14]:
name = "Data Science"
print(name[2:5])

ta

In [17]:
name = "Data Science"
print(name[-7:])

Science

In [18]:
name = "Data Science"
print(name[-7:-4])

Sci

### Modify Strings

In [19]:
# upper()
name = "Data Science"
print(name.upper())

DATA SCIENCE

In [20]:
# lower()
name = "Data Science"
print(name.lower())

data science

In [23]:
# strip() to remove teh spaces
name = " Data Science "
print(name.strip())

Data Science

In [24]:
name = "Data Science"
print(name.replace("D", "B"))

Bata Science

In [25]:
name = "Data Science"
print(name.split(" "))

['Data', 'Science']

### Concatenation

In [27]:
# Use "+" to concatenate strings
brand = "BMW"
model = "X5"

print(brand + model)
print(brand + " "+ model)

BMWX5
BMW X5

### String Format

In [29]:
# we cannot combine strings and numbers 
brand = "BMW-X5"
price = 60000

stm = "latest "+ brand + " is " + price
print(stm)

TypeError: can only concatenate str (not "int") to str

In [30]:
# Use the format() method to insert numbers into strings

brand = "BMW-X5"
price = 60000

stm = "latest "+ brand + " is {}" 
print(stm.format(price))

latest BMW-X5 is 60000

In [33]:
brand = "BMW-X5"
price = 60000
milage = 1000

stm = "The "+ brand + " with {} km milage is {} dollars" 
print(stm.format(milage,price))

The BMW-X5 with 1000 km milage is 60000 dollars

In [34]:
brand = "BMW-X5"
price = 60000
milage = 1000

stm = "The "+ brand + " with {1} km milage is {0} dollars" 
print(stm.format(milage,price))

The BMW-X5 with 60000 km milage is 1000 dollars

### Escape characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [40]:
print("I love \"Python\"")

I love "Python"

In [41]:
print("Address: 100\\34, Hamilton")

Address: 100\34, Hamilton

In [44]:
print("Address: 100\\34\nHamilton")

Address: 100\34
Hamilton

In [46]:
print("Address: 100\\34\n\tHamilton")

Address: 100\34
	Hamilton

In [50]:
print("Address: 100\\34\bHamilton")

Address: 100\34Hamilton

In [ ]:
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning