## Tuples
Tuples are immutable, ordered lists means its unchangeable.
Use to store multiple items in a same variable.
Created with paranthesis.

In [1]:
cities = ("Auckland","Hamilton","weelington")
print(cities)

('Auckland', 'Hamilton', 'weelington')

In [2]:
no1 = (2,4,6)
print(no1)

(2, 4, 6)

In [3]:
# Tuples allow duplicates
no2 = (2,4,6,2,8)
print(no2)

(2, 4, 6, 2, 8)

In [4]:
# len() to check the length
cities = ("Auckland","Hamilton","weelington")
print(len(cities))

3

In [8]:
# creating a tuple with one item
cities = ("Auckland",)
print(cities)
type(cities)

('Auckland',)

tuple

In [9]:
# if you create the tuple without a comma they consider that as a string value not a tuple
cities = ("Auckland")
print(cities)
type(cities)

Auckland

str

In [12]:
# creating different types of tuples
tup1 = (1,2,3,4,5,6)
tup2 = (True, False, False)
tup3 = (1.2,3.4,5.6)
print(tup1)
print(tup2)
print(tup3)

(1, 2, 3, 4, 5, 6)
(True, False, False)
(1.2, 3.4, 5.6)

In [13]:
# create a tuple with multiple data types
tup = ("Auckland", 200000, True, 24.6)
print(tup)

('Auckland', 200000, True, 24.6)

In [14]:
# Use tuple() constructor to create a tuple
tup1 = tuple(("Auckland",2.3, True, 400))
print(tup1)

('Auckland', 2.3, True, 400)

### Access tuples

In [20]:
# access the tuple elements by index numbers
tup = (1,4,7,8,10)
print(tup[3])
print(tup[-2])
print(tup[2:4])
print(tup[:4])
print(tup[2:])
print(tup[-4:-2])

8
8
(7, 8)
(1, 4, 7, 8)
(7, 8, 10)
(4, 7)

In [21]:
# Use if statement to access the tuple
tup = (1,4,7,8,10)
if 4 in tup:
    print("yes, '4' is there")

yes, '4' is there

### Update Tuple values
Although the tuples are immutable onjects there are some workaround to update the tuples

In [22]:
tup = (1,2,4,6,8,9)
list1 = list(tup)
list1[0] = 10
tup = tuple(list1)
print(tup)

(10, 2, 4, 6, 8, 9)

In [24]:
tup = (1,2,4,5)
list1 = list(tup)
list1.append(20)
tup = tuple(list1)
print(tup)

(1, 2, 4, 5, 20)

In [25]:
# add tuple to a tuple
tup1 = (1,2,4,5,6,8)
tup2 = (40,)
tup1 += tup2
print(tup1)

(1, 2, 4, 5, 6, 8, 40)

### Remove items from tuple
Tuples are unchangeable so, cannot remove the items, but can use the same approach as above to remove the items

In [26]:
tup = (1,2,5,7,9,12)
list1 = list(tup)
list1.remove(5)
tup = tuple(list1)
print(tup)

(1, 2, 7, 9, 12)

In [27]:
tup = (1,2,5,7,9,12)
del tup

### Unpacking a tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
Unpacking -  extract the values back into variables

In [28]:
tup = (1,4,7)
(no1, no2, no3) = tup
print(no1)
print(no2)
print(no3)

1
4
7

In [29]:
# Using * to unpack the tuples
cities = ("Auckland","Hamilton","Wellington","Christchurch","Napier")

(city1,city2,*city3) = cities
print(city1)
print(city2)
print(city3)

Auckland
Hamilton
['Wellington', 'Christchurch', 'Napier']

In [30]:
# use the * in the middle 
cities = ("Auckland","Hamilton","Wellington","Christchurch","Napier")

(city1,*city2,city3) = cities
print(city1)
print(city2)
print(city3)

Auckland
['Hamilton', 'Wellington', 'Christchurch']
Napier

### Loop tuples

In [31]:
cities = ("Auckland","Hamilton","Wellington","Christchurch","Napier")
for i in cities:
    print(i)

Auckland
Hamilton
Wellington
Christchurch
Napier

In [32]:
# Loop through the index numbers
cities = ("Auckland","Hamilton","Wellington","Christchurch","Napier")
for i in range(len(cities)):
    print(cities[i])

Auckland
Hamilton
Wellington
Christchurch
Napier

In [33]:
# Use a while loop 
cities = ("Auckland","Hamilton","Wellington","Christchurch","Napier")
i = 0
while i < len(cities):
    print(cities[i])
    i = i+1

Auckland
Hamilton
Wellington
Christchurch
Napier

### Join tuples

In [34]:
# Join with "+" operator
tup1 = (1,2,3)
tup2 = ("A","B","C")

tup3 = tup1+ tup2
print(tup3)

(1, 2, 3, 'A', 'B', 'C')

In [36]:
# Can multiply tuples with * 
tup1 = (1,2,3)
tup2 = ("A","B","C")

tup3 = tup1 *2
print(tup3)

tup4 = tup2 *3
print(tup4)

#tup5 = tup1*tup2 ## TypeError: can't multiply sequence by non-int of type 'tuple'

(1, 2, 3, 1, 2, 3)
('A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C')

### Tuple methods

In [37]:
# count()
tup1 = (1,2,3,4,1,5,6,2,4,2,5,2,3,4)
print(tup1.count(2))

4

In [38]:
# index(),  Search for the first occurrence of the value, and return its position
tup1 = (1,2,3,4,1,5,6,2,4,2,5,2,3,4)
print(tup1.index(4))

3